.pics{
    width: 22.5vw;
    max-width: 50%;
    height: 30vw;
    margin: 10px;
    border-style: solid;
    border-color: #011e41;
}
#logo{
    height: 2em;
    width: 2em;
    vertical-align: middle;
}
body{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
figure{
    text-align: center;
}

h1 {
    text-align: center;
    color: gold;
    background-color: #011e41;
}
footer{
    font-size: 12px;
}

.story{
    font-family: Tahoma, Geneva, sans-serif;
}

video{
    width: 100%;
    height: auto;
    padding: 10px;
}