img{
    width: 22.5vw;
    max-width: 50%;
    height: 30vw;
    padding: 10px;
}
body{
    width: 100%;
    margin: 0 auto;
}
figure{
    text-align: center;
}

h1 {
    text-align: center;
    color: yellow;
    background-color: #011e41;
}